.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    position: sticky;
    top: 0;
  }

  li {
    list-style: none;
    display: inline;
    font-size: 24px;
    font-weight: bold;
  
    margin-right: 20px;
    a {
      color: burlywood;
        text-decoration: none;
    }
}
